/* *{
    box-sizing: border-box;
}
.buttons{
    margin-bottom: 10px;
}
.btn{
    margin-top: 10px;
    color: black;
    background-color: black;
    color: white;
}
.mb-3{
    margin-top: 10px;
}
.imges{
    width: 100%;
    height: 100%;
}
.view{
    width: 100%;
}
.RecipeContainer{
    margin-bottom: 25px;
}
.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
  }
  
  .flex-container > div {
    width: 30%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
.recipeInfo{
    display: none;
}
.videoContainer{
    margin-bottom: 25px;
}
.table-condensed{
    margin-top: 20px;
    width: 100%;
}

#recipe-top-row{
    margin-top: 20px;
} */ */




/* sidebar */

/* .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(226, 173, 26);
    color: #fff;
    transition: all 0.3s;
    position: absolute;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(226, 173, 26);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;

}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */


/* .sidebarText{
        color: black;
        font-family: 'Englebert', sans-serif;
        font-size: 30px;
}

*/


html,
body {
    background-color: #1E2E3B;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}


/* Portfolio Section css */
.portfolio{
	width: 100%;
	overflow: hidden;	
}

.portfolio_content{
	padding-bottom:120px;
	display:inline-block;
}
.portfolio .portfolio_content .head_title h3{
	color:#000000;
}
.portfolio .portfolio_content .head_title h4{
	color:#000000;
}

.head_title{
	padding-top:100px;
	padding-bottom: 50px;
}

.single_portfolio_text{
	display:inline-block;
	padding:0;
	position:relative;
	overflow:hidden;

}
.single_portfolio_text img{
	width:100%;
}

.single_portfolio_text:hover .portfolio_images_overlay{
	top: 28px;
    left: 14px;
}

.portfolio_images_overlay{
	width: 90%;
    height: 80%;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 0 auto;
    top:-100%;
    left: 14px;
    position: absolute;
	transition:.6s;
}
.portfolio_images_overlay h6{
	text-transform:uppercase;
	color:#fff;
	font-size:1.3125rem;
	line-height:2rem;
}

.portfolio_images_overlay p.product_price{
	font-size:2.5725rem;
	color:#fff;
	line-height:3rem;
}